body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background: #f7f7f7;
	display: grid;
	gap: 60px;
	justify-items: center;
	margin-top: 60px;
}

img {
	/* não permite que a imagem fique maior que o tamanho da tela. */
	max-width: 100%;
	display: block;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p,
h1,
h2,
h3 {
	margin: 0;
}

p {
	font-size: 1.25rem;
	line-height: 1.3;
}
