.header {
	display: grid;
	justify-items: center;
	gap: 60px;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.menu a {
	display: inline-block;
	background: var(--fundo-2);
	padding: 1rem 2rem;
	border-radius: 4px;
	color: var(--texto);
	text-transform: uppercase;

	border: 2px solid transparent;
}

.menu a:hover {
	border-color: var(--cor-primaria);
}
