/* menor ou igual a 1000px. */
@media (max-width: 1000px) {
	.conteudo-vantagem {
		grid-template-columns: 1fr;
	}

	.subtitulo {
		text-align: center;
	}
}

/* menor ou igual a 600px. */
@media (max-width: 600px) {
	body {
		gap: 30px;
		margin-top: 30px;
	}

	.header {
		gap: 30px;
	}

	.conteudo {
		grid-template-columns: 1fr;
	}

	.introducao {
		text-align: left;
		justify-items: start;
	}

	.introducao::before {
		display: none;
	}

	.subtitulo {
		font-size: 3rem;
	}
}

/* menor ou igual a 400px. */
@media (max-width: 400px) {
	.subtitulo {
		font-size: 2rem;
	}
}
