.subtitulo {
	font-size: 4rem;
	text-transform: uppercase;
	color: var(--cor-subtitulo);
	text-align: right;
	padding: 40px;
	align-self: center;
	background: var(--onda);
}

.vantagens {
	background: var(--fundo-2);
	padding: 40px;
}

.vantagens-item {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 10px 20px;
	padding: 20px;
}

.vantagens-item:hover {
	/* efeito de borda na esquerda do elemento. */
	border-left: 4px solid var(--cor-primaria);
}

/* aplicando estilos para elementos ímpares. */
.vantagens-item:nth-child(odd) {
	background: var(--fundo-1);
}

/* posicionando o texto de vantagem na 2º coluna. */
.vantagens-item p {
	grid-column: 2;
}
